<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>305600060898-1tntnul0ohh35s8kokjnaadmf8afjn6o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.305600060898-1tntnul0ohh35s8kokjnaadmf8afjn6o</string>
	<key>API_KEY</key>
	<string>AIzaSyA42druyRvZd1NUnd3gYmmamvbPxo0Lu2Y</string>
	<key>GCM_SENDER_ID</key>
	<string>305600060898</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.acme</string>
	<key>PROJECT_ID</key>
	<string>acme-a288f</string>
	<key>STORAGE_BUCKET</key>
	<string>acme-a288f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:305600060898:ios:2aca32b0e2c2e2f68b2dbb</string>
</dict>
</plist>